<div class="container py-5 product-card">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 py-5">
    <div class="col" *ngFor=" let product of orders">
      <div class="card">
        <div routerLink="/order-details/{{product.id}}" class="pointer">
          <div class="image">
            <img class="card-img-top mx-auto img-fluid  d-block" src="assets/img/{{product.image}}.jpg"
                 alt="{{product.name}} image">
          </div>
          <div class="card-body">
            <h5 class="card-title fs-4">{{product.name}}</h5>
          </div>
        </div>
          <div class=" d-flex justify-content-around ">
            <h3 class="price fs-5">{{product.price}} L.E</h3>
            <button class="btn btn-primary w-40" (click)="addToCart(product)">Add to cart <i class=" px-1 fa fa-angle-right"></i> </button>
          </div>


      </div>
    </div>
  </div>
  <div class="col-md-9 text-center Pagination">
    <ngb-pagination *ngIf="orders?.length !==0"
                    class="d-flex justify-content-center"
                    [(page)]="page"
                    [collectionSize]="orderSize"
                    [pageSize]="pageSize"
                    [boundaryLinks]="false"
                    (pageChange)="doPagination()"
    >
      &lt;!&ndash; [maxSize]="5"&ndash;&gt;
    </ngb-pagination>

  </div>
<div class="spinner" *ngIf="orders?.length ==0">
  <app-spinner ></app-spinner>
</div>
</div>

<!-- Alert ⏰ -->
<div class="alert alert-danger text-center w-100" role="alert" *ngIf="orders?.length ==0">
  <strong>OoPs💥</strong>
  <br>
  Product Is Not Found 😢💔
</div>
