.card {
  height: 27rem;
  overflow: hidden;
  border-radius: 11px;
  box-shadow: 0 2px 15px rgba(0 0 0 / 10%);
  background-color: #f9f6f2;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-10px) scale(102%);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.075);
  }
}

.card-img-top {
  border-radius: 35px;
  padding: 20px;
  max-width: 100%;
  width: 100%;
  height: 265px;

}

.card-body {
  padding: 25px;
  margin-top: -15px;
  width: 300px;
}

.card-title {
  font-size: 10px;
  font-weight: 600;
  color: #333;
  padding-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price {
  font-weight: 600;
  color: #e67e22;
}

.pointer{
  cursor: pointer;
}

.btn-primary {
  background-color: #e67e22;
  border-color: #e67e22;
  border-radius: 50px;

  &:hover,&:focus{
    background-color: #cf711f;
    border-color: #cf711f;
    box-shadow: rgba(69, 38, 10, 0.24) 0px 3px 8px;
  }
}

h3,
h5 {
  color: rgb(0, 91, 228);
}

.Pagination {
  margin: 0 auto;
}

ngb-pagination ::ng-deep a {
  color: black !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-top-style: none !important;
  border-bottom-style: none !important;
  background-color: #f6f6f6 !important;
  color: #e67e22 !important;
  border-color: #e67e22 !important;
}

//ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
//  box-shadow: 0 0 0 0.1rem dimgrey;
//}
//
//ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
//  box-shadow: 0 0 0 0.1rem dimgrey;
//}

.alert,.spinner {
  margin: 0 auto;
}
