.contact {
  margin-top: 6rem;

}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: #e67e22;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  border: none;
  border-radius: 2px;
  font-size: 16px;
  height: auto;
  outline: 0;
  padding: 15px;
  width: 100%;
  background: #e8eeef;
  color: #232323;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin: 0 0 30px;

  &:focus,
  :active {
    border: 1.5px solid #e67e22;
  }
}

.success input {
  border-color:#2ECC71FF;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 4px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #e67e22;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #cf711f;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;

  &:hover {
    background-color: #cf711f;
  }
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #e67e22;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

small {
  color: #E74C3CFF;
}

.alert {
  //margin: 0 auto;
  width: 450px;
  height: 95px;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
