.totals {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  font-family: "Pacifico", cursive;
}

.size,
.total-price {
  padding: 8px;
  color: #45260a;
  margin-bottom: 10px;
}
.text-danger{
  color: #e67e22 !important;
  padding: 2px;
}

