<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col">
      <div class="meal">
        <div class="box-img">
          <img
            src="assets/img/meals/beef-potato-stew.jpg"
            alt="Japanese Gyozas"
            class="meal-img"
          />
        </div>

        <div class="meal-content">
          <div class="meal-tags">
            <span class="tag tag--vegetarian"> Vegetarian</span>
          </div>

          <p class="meal-title">Japanese Gyozas</p>
          <ul class="meal-attributes">
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="flame-outline"></ion-icon
        >--><span><strong>650</strong> Calories</span>
            </li>
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon> -->
              <span>NutriScore &reg; <strong>74</strong></span>
            </li>
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="star-outline"></ion-icon> -->
              <span><strong>4.9</strong> rating (537)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="meal">
        <img
          src="assets/img/meals/beef-potato-stew.jpg"
          alt="Japanese Gyozas"
          class="meal-img"
        />

        <div class="meal-content">
          <div class="meal-tags">
            <span class="tag tag--vegetarian"> Vegetarian</span>
          </div>

          <p class="meal-title">Japanese Gyozas</p>
          <ul class="meal-attributes">
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="flame-outline"></ion-icon
        >--><span><strong>650</strong> Calories</span>
            </li>
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon> -->
              <span>NutriScore &reg; <strong>74</strong></span>
            </li>
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="star-outline"></ion-icon> -->
              <span><strong>4.9</strong> rating (537)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="meal">
        <img
          src="assets/img/meals/beef-potato-stew.jpg"
          alt="Japanese Gyozas"
          class="meal-img"
        />

        <div class="meal-content">
          <div class="meal-tags">
            <span class="tag tag--vegetarian"> Vegetarian</span>
          </div>

          <p class="meal-title">Japanese Gyozas</p>
          <ul class="meal-attributes">
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="flame-outline"></ion-icon
        >--><span><strong>650</strong> Calories</span>
            </li>
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon> -->
              <span>NutriScore &reg; <strong>74</strong></span>
            </li>
            <li class="meal-attribute">
              <!-- <ion-icon class="meal-icon" name="star-outline"></ion-icon> -->
              <span><strong>4.9</strong> rating (537)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
