/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #e67e22;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 2rem;
  color: #f9f6f2;
  line-height: 0;
}

.scroll-top:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  box-shadow: 0 1rem 3rem rgba(35, 38, 45, 0.15) !important;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  background-color: #cf711f;
}

.scroll-top {
  visibility: visible;
  opacity: 1;
}

